/.idea/compiler.xml
/.idea/deployment.xml
/.idea/dictionaries
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/uiDesigner.xml
/.idea/workspace.xml
/.idea/libraries
/out/
target/
*.iml
*.releaseBackup
release.properties