language: java
os: linux
services: docker

install:
  - source .travis-ci/install-gpg.sh
  - source .travis-ci/install-zulu${JAVA_VERSION}.sh
  - source .travis-ci/install-maven.sh

script:
  - mvn -U -V -s settings.xml -Pgpg,release-sign-artifacts,sonatype-snapshots,sonatype-staging,sonatype-releases -Djavadoc.path=`which javadoc` dependency:list-repositories
  - mvn -U -V -s settings.xml -Pgpg,release-sign-artifacts,sonatype-snapshots,sonatype-staging,sonatype-releases -Djavadoc.path=`which javadoc` dependency:tree
  - mvn -U -V -s settings.xml -Pgpg,release-sign-artifacts,sonatype-snapshots,sonatype-staging,sonatype-releases -Djavadoc.path=`which javadoc` help:active-profiles clean install
  - mvn -U -V -s settings.xml -Pgpg,release-sign-artifacts,sonatype-snapshots,sonatype-staging,sonatype-releases -Djavadoc.path=`which javadoc` site site:stage

jobs:
  include:
  - dist: xenial
    env: JAVA_VERSION=8
  - dist: focal
    env: JAVA_VERSION=8
  - dist: xenial
    env: JAVA_VERSION=11
  - dist: focal
    env: JAVA_VERSION=11
  - dist: focal
    env: CBD="/usr/src/build" P=luminositylabs-oss I=luminositylabs/maven T=3.6.3_openjdk-11.0.8_zulu-alpine-11.41
    install: source .travis-ci/install-gpg.sh
    script:
    - docker container run --rm -it -v "$(pwd)":"${CBD}" -v ${P}-${T}-mvn-repo:/root/.m2 -w "${CBD}" ${I}:${T} mvn -U -V -s settings.xml -Psonatype-snapshots,sonatype-staging,sonatype-releases dependency:list-repositories
    - docker container run --rm -it -v "$(pwd)":"${CBD}" -v ${P}-${T}-mvn-repo:/root/.m2 -w "${CBD}" ${I}:${T} mvn -U -V -s settings.xml -Psonatype-snapshots,sonatype-staging,sonatype-releases dependency:tree
    - docker container run --rm -it -v "$(pwd)":"${CBD}" -v ${P}-${T}-mvn-repo:/root/.m2 -w "${CBD}" ${I}:${T} mvn -U -V -s settings.xml -Psonatype-snapshots,sonatype-staging,sonatype-releases help:active-profiles clean install
    - docker container run --rm -it -v "$(pwd)":"${CBD}" -v ${P}-${T}-mvn-repo:/root/.m2 -w "${CBD}" ${I}:${T} mvn -U -V -s settings.xml -Psonatype-snapshots,sonatype-staging,sonatype-releases site site:stage
